include data/window_open.png
include data/burglar.png
include data/window.png
include data/bubble_smile_money.png
include data/door2.png
include data/corner_tile_bl.png
include data/corner_tile_tl.png
include data/burglar_lantern.png
include data/window_semiopen.png
include data/compartment_open.png
include data/compartment_open_chest.png
include data/girl.png
include data/bookshelf.png
include data/bubble_cry.png
include data/bubble_question.png
include data/boy.png
include data/table_textured.png
include data/fireplace_down.png
include data/boy_chest.png
include data/corner_tile_tr.png
include data/basic_ground_tile.png
include data/bubble_smile.png
include data/bubble_chest.png
include data/table.png
include data/wall_tile.png
include data/bubble_idea.png
include data/README.txt
include data/bubble_exclamation.png
include data/compartment.png
include data/stool.png
include data/fireplace.png
include data/corner_tile_br.png
include data/bilbo/BilboSwashCaps-Regular.otf
include data/bilbo/Bilbo-Regular.otf
include data/bilbo/Bilbo SIL OFL Font License 1.1.txt
include Makefile
include LICENSE.txt
include configure
include family_treasure
include data
include scripts
include MANIFEST
include README.md
include setup.py
include run_game.py
include family_treasure.spec
include MANIFEST.in
include run_game.pyw
include family_treasure/minimap.py
include family_treasure/ingame_screen.py
include family_treasure/__init__.py
include family_treasure/building.py
include family_treasure/text.py
include family_treasure/mouse.py
include family_treasure/character.py
include family_treasure/game_screen.py
include family_treasure/geometry.py
include family_treasure/tile.py
include family_treasure/assets.py
include family_treasure/graphics.py
include family_treasure/title_screen.py
include family_treasure/room.py
include family_treasure/animation.py
include family_treasure/__main__.py
include family_treasure/gameover_screen.py
include family_treasure/data.py
include family_treasure/schedule.py
include family_treasure/light.py
include family_treasure/happyend_screen.py
include family_treasure/game.py
include family_treasure/ecs.py
include family_treasure/sky.py
include pyweek_upload.py
include setup.py
include run_game.py
